/* Go to Google and type Roboto and select Roboto - Google Fonts   */
/* then select by pressing the + sign the following sizes 300,     */
/* 400, 500 and Bold 700. Now select the radio button of @import   */
/* and select all of the text in between the <style> ... </style>  */
/* tags and paste it in the styles.css file and you will get the   */
/* below link so now your web site will use this Font thru out it. */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* Use the * selector this enables you to target all elements in your project.*/

* {                                  
  padding: 0;                        /*                                               */
  margin: 0;                         /* Do this for every CCS file at the start of it */
  box-sizing: border-box;            /*                                               */
  font-family: "Roboto", sans-serif; /* copy and paste this command font-family: 'Roboto', sans-serif; from */
  /* Roboto-Google Font. this command is found under CSS rules to specify familes under the <style> tags.   */
}

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #b9d1d2;
}

header {
  background-color: #d7c7ee;
  height: calc(100vh - 70px);
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 40px;
}

.subheader {                /* We don't want this p changimg other p's in the project */
  font-size: 36px;          /* by typing <p class="subheader> in the HTML and target  */
  margin: 16px 0 24px o;    /* it like we have here .subheader{} in CSS.              */
}

button {
    background-color: #05c7cf;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

a {
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.logo {
  height: 90px;
  width: 300px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding-left: 16px;
}
